.name {
    color: black;
    background-color: brown;
    text-align: center;
    font-size: 36px;
}

.list {
    color: black;
    font-size: 18px;
}

.paragraph {
    color: black;
    text-align: center;
    font-size: 24px;
}

.subscript {
    color:black;
    background-color: brown;
    text-align: center;
    font-size: 36px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}